<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494570052826-57pletu8j4nsrmpsvnrdv3favmsgij44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494570052826-57pletu8j4nsrmpsvnrdv3favmsgij44</string>
	<key>API_KEY</key>
	<string>AIzaSyC1-Ucx0edwriNGhZ5rdxCT0C_-31NOE_c</string>
	<key>GCM_SENDER_ID</key>
	<string>494570052826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lami.FootballChat</string>
	<key>PROJECT_ID</key>
	<string>footchat-1e657</string>
	<key>STORAGE_BUCKET</key>
	<string>footchat-1e657.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494570052826:ios:a3e671991117b87d7499e3</string>
	<key>DATABASE_URL</key>
	<string>https://footchat-1e657.firebaseio.com</string>
</dict>
</plist>